<div id="contact" class="contact">
    <div class="container">
     <div class="row">
      <h2 class="wow fadeInUp">
        Contact
      </h2>
      <p class="wow fadeInUp" data-wow-delay=".4s">
        Lorem Ipsum passages, and more recently with desktop publishing softwere
      </p>
      <div class="col-lg-6 col-md-6">
        <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="0.8s">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i> </span>
          <input type="text" class="form-control" aria-describedby="sizaing-addon1" placeholder="Full Name">
        </div>
        <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.2s">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
          <input type="text" class="form-control" aria-describedby="sizaing-addon1" placeholder="Email Address">
        </div>
        <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.6s">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone" aria-hidden="true"></i></span>
          <input type="text" class="form-control" aria-describedby="sizaing-addon1" placeholder="Phone Number">
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="input-group wow fadeInUp" data-wow-delay="2s">
          <textarea name="" id="" cols="80" rows="6" class="form-control"></textarea>
        </div>
        <button class="btn btn-lg wow fadeInUp" data-wow-delay="2.4s">
            Submit Your Message
          </button>
      </div>
    </div>
    </div>
  </div>
