  <div id="header" class="header">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6 wow bounceInLeft">
          <h1>
            My Dynamic Project
          </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit ipsum in convallis sollicitudin. Integer ullamcorper tempus magna, sit amet iaculis odio vestibulum vel. Cras facilisis felis nec vehicula pharetra. Mauris sodales justo non ligula
            vehicula, nec congue sem lobortis. Nulla a pellentesque lorem. Donec sit amet ex fermentum, porta felis a, semper justo. Vivamus tincidunt vel nibh eget convallis. Proin vitae purus sit amet lorem consequat blandit ut et lorem. Pellentesque
            scelerisque dolor sit amet purus condimentum consequat. In sodales et mauris sed efficitur.
          </p>
          <button class="btn btn-lg btn-primary">Buy Now</button>
          <button class="btn btn-lg btn-success">View Detail</button>
        </div>
        <div class="col-lg-6 col-md-6 wow bounceInRight">
          <img src="asset/images/banner5.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- End Header-->

  <!-- Services--->

  <div id="services" class="services">
    <div class="container">
      <h2 class="wow fadeInUp">
        Services
      </h2>
      <p class="wow fadeInUp" data-wow-delay="0.4s">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in ultrices purus, vel volutpat leo.
      </p>
      <div class="row">
        <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.8s">
          <i class="fa fa-desktop" aria-hidden="true"></i>
          <h4>
            Web Design
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in ultrices purus, vel volutpat leo.
          </p>
        </div>
        <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.4s">
          <i class="fa fa-mobile" aria-hidden="true"></i>
          <h4>
            Mobile App
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in ultrices purus, vel volutpat leo.
          </p>
        </div>
        <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay=".8s">
          <i class="fa fa-database" aria-hidden="true"></i>
          <h4>
            Database
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in ultrices purus, vel volutpat leo.
          </p>
        </div>
        <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay=".4s">
          <i class="fa fa-university" aria-hidden="true"></i>
          <h4>
            Consulting
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in ultrices purus, vel volutpat leo.
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- End Services--->

  <!--- Pricing -->
  <div id="pricing" class="pricing">
    <div class="container">
      <div class="row">
        <h2 class="wow fadeInUp">
          Pricing
        </h2>
        <p class="wow fadeInUp" data-wow-delay="0.4s">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in ultrices purus, vel volutpat leo. Morbi semper blandit feugiat. 
        </p>
        <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="0.8s">
          <div class="packages">
            <h4>
              Bronze
            </h4>
            <h1>
              9.99
            </h1>
            <b>Monthly</b>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <hr>
            <li>100 Users</li>
            <li>SSL Certificate</li>
            <li>Online Support</li>
            <li>300GB Disckspace</li>
            <li>100 Email Address</li>
            <li>MySQL Database</li>
            <button class="btn btn-success">
                Get Started
              </button>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 wow flipInY"data-wow-delay="1.2s">
          <div class="packages">
            <h4>
              Dimond
            </h4>
            <h1>
              1,00,000
            </h1>
            <b>Monthly</b>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <hr>
            <li>100 Users</li>
            <li>SSL Certificate</li>
            <li>Online Support</li>
            <li>300GB Disckspace</li>
            <li>100 Email Address</li>
            <li>MySQL Database</li>
            <button class="btn btn-success">
                Get Started
              </button>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1.6s">
          <div class="packages">
            <h4>
              Gold
            </h4>
            <h1>
              90.99
            </h1>
            <b>Monthly</b>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <hr>
            <li>100 Users</li>
            <li>SSL Certificate</li>
            <li>Online Support</li>
            <li>300GB Disckspace</li>
            <li>100 Email Address</li>
            <li>MySQL Database</li>
            <button class="btn btn-success">
                Get Started
              </button>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="2s">
          <div class="packages">
            <h4>
              Silver
            </h4>
            <h1>
              19.99
            </h1>
            <b>Monthly</b>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <hr>
            <li>100 Users</li>
            <li>SSL Certificate</li>
            <li>Online Support</li>
            <li>300GB Disckspace</li>
            <li>100 Email Address</li>
            <li>MySQL Database</li>
            <button class="btn btn-success">
                Get Started
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Pricing-->

  <!---- Team--->

  <div id="team" class="team">
    <div class="container">
      <div class="row">
        <h2 class="wow fadeInUp">
          Meet our team
        </h2>
        <p class="wow fadeInUp" data-wow-delay="0.4s">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat.
        </p>
        <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="2s">
          <img src="asset/images/team1.jpg" alt="" class="img-circle">
          <h4>
            John Deo
          </h4>
          <b>CEO and Founder</b>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat.
          </p>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        </div>
        <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.6s">
          <img src="asset/images/team3.jpg" alt="" class="img-circle">
          <h4>
            Janifer
          </h4>
          <b>Engineer</b>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat.
          </p>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        </div>
        <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.2s">
          <img src="asset/images/team2.jpg" alt="" class="img-circle">
          <h4>
            Lehman
          </h4>
          <b>Administration</b>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat.
          </p>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        </div>
        <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
          <img src="asset/images/team5.jpg" alt="" class="img-circle">
          <h4>
            Deepti Sharma
          </h4>
          <b>HR and Manager</b>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat.
          </p>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!--- End Team--->

  <!--- Clients--->

  <div id="client" class="clients">

    <div class="container">
      <div class="row">
        <h2 class="wow fadeInUp">
          Trusted by
        </h2>
        <p class="wow fadeInUp" data-wow-delay="0.4s">
          Lorem Ipsum passages, and more recently with desktop publishing softwere
        </p>
        <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="2s">
          <li><img src="asset/images/clients/c1.png" </li>
        </div>
        <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.6s">
          <li><img src="asset/images/clients/c2.png" </li>
        </div>
        <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.2s">
          <li><img src="asset/images/clients/c3.png" </li>
        </div>
        <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8">
          <li><img src="asset/images/clients/c4.png" </li>
        </div>
      </div>
    </div>
  </div>
  <!--- End Clients-->

  <!-- Contact --->
  <div id="contact" class="contact">
    <div class="container">
     <div class="row">
      <h2 class="wow fadeInUp">
        Contact
      </h2>
      <p class="wow fadeInUp" data-wow-delay=".4s">
        Lorem Ipsum passages, and more recently with desktop publishing softwere
      </p>
      <div class="col-lg-6 col-md-6">
        <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="0.8s">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i> </span>
          <input type="text" class="form-control" aria-describedby="sizaing-addon1" placeholder="Full Name">
        </div>
        <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.2s">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
          <input type="text" class="form-control" aria-describedby="sizaing-addon1" placeholder="Email Address">
        </div>
        <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.6s">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone" aria-hidden="true"></i></span>
          <input type="text" class="form-control" aria-describedby="sizaing-addon1" placeholder="Phone Number">
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="input-group wow fadeInUp" data-wow-delay="2s">
          <textarea name="" id="" cols="80" rows="6" class="form-control"></textarea>
        </div>
        <button class="btn btn-lg wow fadeInUp" data-wow-delay="2.4s">
            Submit Your Message
          </button>
      </div>
    </div>
    </div>
  </div>

  <!----End Contact ----->